.home-div {
  background-color: red;
  background-repeat: repeat;
  background-size: contain;
  height: max-content;
}

.cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.itemsActions {
  display: flex;
  gap: 11px;
}

.links {
  padding: 9px;
  color: rgb(212, 209, 209);
  cursor: pointer;
}

.itm-act {
  align-items: flex-end;
  padding: 6px;
  height: 3vh;
  width: auto;
  color: black;
}

.details-nav {
  height: 1em;
  width: 2em;
  color: black;
}

.loading-text {
  color: #fff;
}

.header-card {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  gap: 11px;
  align-items: start;
  width: fit-content;
}

.card-title {
  width: 71px;
}

.div-cardImg {
  overflow: hidden;
}

.cardBody {
  width: fit-content;
  padding: 9px;
}

.Logo-cont {
  color: #fff;
}

.search-bar {
  position: relative;
  background-image: url('../public/cryptocurrency_image1_1130490519_670x377px_300dpi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-position-x: left;
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  background-color: white;
  border: 10px;
  padding: 7px;
  border-radius: 3px;
  color: #ffff;
  width: 199px;
  margin-bottom: 11px;
}

.nav-section {
  width: 100%;
  height: 8vh;
  background-color: red;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 0;
  justify-content: space-between;
}

.card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: red;
  color: #fff;
  padding: 5px;
  font-size: 23px;
}

.status-screen {
  margin: 9px;
  background-color: blue;
  padding: 11px;
  border-style: inset;
  border-radius: 25px;
}

@media screen and (max-width: 375px) {
  .search-bar {
    height: 10vh;
  }

  .search-input {
    width: 100%;
  }
}
